* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 20px;
    border-left: none;
    border-right: none;
}
.nav-logo {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    position: relative;
}
.nav-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}
.nav-profile img{
    width: 35px;
    position: relative;
}
.profile-text {
    position: relative;
    top: -10px;
}
.star {
    color: orange;
}
.hero {
    height: 86vh;
}
h1 {
    font-size: 150px;
    justify-content: right;
}

.about {
    height: 100vh;
    background-color: black;
}